<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/contacts">Форум</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="col-md-11 col-md-push-8">
    <ul class="nav justify-content-sm-end">
      <li class="nav-item active">
        <a class="nav-link text-dark" (click)="logout($event)">Выход</a>
      </li>
    </ul>
  </div>
</nav>

<main class="content">
  <router-outlet></router-outlet>
</main>
